* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: rgb(223, 247, 255);
}

section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
}

.title {
    grid-column: 1 / -1;
    text-align: center;
}

.about-center {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    width: 80%;
    margin: 40px auto;
}

img {
    width: 100%;
    height: 100%;
}

.about-content {
    grid-column: 2;
    background-color: white;
    padding: 30px 20px;
}

.btn-container {
    display: flex;
}

.tab-btn {
    width: 100%;
    height: 44px;
    background-color: rgb(235, 235, 235);
    border: none;
    cursor: pointer;
}

.tab-btn.active {
    background-color: white;
}

.about {
    background-color: white;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


ul {
    padding: 50px 20px;
}