* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    width: 100vw;
    overflow: hidden;
}

.first-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./hero-bcg.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.first-section::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.first-section h1 {
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

.first-section p {
    text-align: center;
    display: block;
    width: 700px;
    margin: 20px 0 40px 0;
    color: white;
}

.first-section button {
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.first-section button:hover {
    background: white;
    color: black;
    border: 3px solid black;
}


