:root {
--clr-white: #fff;
--clr-secondary: hsla(182, 63%, 54%);
--radius: 0.5rem;
}

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


body{
    display: flex;
    flex-direction: column;
}

.background-photo {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
    height: 90px;
    background: white;
    z-index: 100;
}

header img {
    width: 100px;
    height: 80px;
    margin-left: 10px;
}

header button {
    width: 30px;
    height: 20px;
    border: none;
    background: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    cursor: pointer;
    margin-right: 30px;
}

header ul.inactive {
    display: none;
}

header ul.active {
    position: absolute;
    width: 100%;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

    background: white;
}
header ul li {
    padding: 20px 0 20px 30px;
}
header ul li a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.first-section {
    width: 100%;

html {
    width: 100vw;
    overflow: hidden;
}

.first-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

    background-image: url('./hero-bcg.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.first-section::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 61, 20, 0.4);
    z-index: -1;
} 

.first-section button {
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.first-section h1 {
    font-size: 32px;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.first-section h1 {
    font-size: 52px;

    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

.first-section p {
    text-align: center;
    display: block;

    width: 90vw;
    margin: 20px 0 40px 0;
    color: white;
    font-weight: bold;

    width: 700px;
    margin: 20px 0 40px 0;
    color: white;
}

.first-section button {
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
    transition: .3s ease-in-out;

}

.first-section button:hover {
    background: white;
    color: black;
    border: 3px solid black;
}

.about-us, .our-services, .featured-tours {
    position: relative;
    width: 100%;
    height: 90vh;
    text-align: center;
}

.section-h2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-h2 span {
    color: rgb(65, 219, 219);
}

footer {
    width: 100%;
    height: 90px;
    background: rgb(0, 0, 48);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--clr-secondary);
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  }

  .show-link {
      visibility: visible;
      z-index: 100;
  }



@media screen and (min-width: 1024px) {

    .fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: rgb(187, 187, 187);
      }

    header button {
        display: none;
    }
    header {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;   
        height: 90px;
        z-index: 100;
        padding: 0 120px;
        background: none;
    }

    header ul.inactive {
        display: flex;
        width: 500px;
        justify-content: space-between;
        list-style-type: none;
    }
    
    header ul li a{
        color: black;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
    }
}


